<section class="homepage-layout">
   <h1 class="homepage-title">Gods and Beasts</h1>
   <div id="home-logo">
      <img src="images/logo.png">
   </div>
   {{#if loggedIn}}
   <a href="/play">
      <button type="button" class="btn btn-primary btn-lg" id="start-btn">Start</button>
   </a>
   {{else}}
   <a href="/log_sign">
      <button type="button" class="btn btn-primary btn-lg" id="start-btn">Start</button>
   </a>
   {{/if}}
   

</section>

<script src="/js/homepage.js"></script>