      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <img src="images/logo.png" alt="Gods and Beasts" width="500" height="600">
          </div>
          <div class="col" id="col4">
            <a href="/play">
              <button type="button" class="btn btn-primary btn-lg" id="new-game-btn">New Game</button>
            </a>
            <a href="/scores">
              <button type="button" class="btn btn-primary btn-lg" id="view-scores-btn">View Scores</button>
            </a>
            <a href="/createdeck">
              <button type="button" class="btn btn-primary btn-lg" id="view-characters-btn">View Characters</button>
            </a>
          </div>
        </div>
      </div>

    <script src="./options.handlebars"></script>
