<section>
    <div class="row1">
        {{#each cards as |card|}}
            {{> god-card}}
            {{/each}}
    </div>
    <div class="row2">
        {{#each cards as |card|}}
            {{> god-card}}
            {{/each}}
    </div>
</section>

 <section class="god-carousel-container">
      <h2>Gods</h2>
      <!-- arrow buttons -->
        <button class="pre-btn"><img src="/images/arrow.png"/></button>
        <button class="nxt-btn"><img src="/images/arrow.png"/></button>

        <!-- put event listener on container for all cards for the add button -->
        <div class="carousel">
            {{#each cards as |card|}}
            {{> user-cards}}
            {{/each}}
        </div>
</section>