main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left, .right {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 5px solid green;
}

.center {
    display: flex;
    flex-direction: row;
    width: 60%;
    border: 5px solid red;
    margin-top: 6%;
    justify-content: center;
}

.test:hover {
    transform: scale(1.5);
}

#god-card:hover{
    transform: scale(1.5);
}

.beast-card:hover{
    transform: scale(1.5);
}

.button-container {
    margin-top: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 5px solid purple;
    width: 100%;
}

.hidden {
    display: none;
} 

.visible{
    display: block;
}

#attackButton, #defendButton {
    width: 30%;
    margin: auto 20%;
}

#attackButton:hover {
    transform: scale(1.5);
}

#defendButton:hover {
    transform: scale(1.5);
}